<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fluffin static website generator project sample</title>
    <!-- This is the hot reload script, it will be removed in production -->
    <script src="/static/hot-reload.js"></script>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>
{% include "menu.html" %}
{% block content %}{% endblock %}
</body>
</html>

